// primary
aside.col-sm-4
  article.sidebar
    h1.sidebar-title Who should come?
    ul.sidebar-body
      li Anybody interested in Node or Javascript
      li Developers, artists, life long learners and the like!
      li
        | Those interested in meeting and making a connection with others in the coding scene.
  // article
  article.sidebar
    h1.sidebar-title Code on display
    p.sidebar-body
      | While you attend the conference, head over to our gallery where you can check out some of the work from our speakers.
    .pixgrid.clearfix
      a(href='https://github.com/jaredblumer')
        img(src='./images/artwork/Lorenz.png', alt='Artwork 1')
      a(href='https://github.com/ephemeralwaves/L-System-Music-Module')
        img(src='./images/artwork/Koch_snowflake.jpg', alt='Koch Snowflake')
      a(href='https://github.com/chameleoid')
        img(src='./images/artwork/cameleoid.png', alt='Artwork 3')
      a(href='https://github.com/chameleoid/telepathy')
        img(src='./images/artwork/0101.jpeg', alt='Artwork 4')

// secondary
// container
